<div id="editorPaneWrapper">
    <div id="editorPane" data-filepath="{filePath}">
            
    </div>
</div>

<div id="bottomPane" class="dH">
    <table style="width: 100%">
        <tbody>
            <tr>
                <td>
                    File:&nbsp;<a id="filePathLink" class="blueLink" href="/?leftProject={projectId}&file={filePath}" target="_blank" title="Click to open file in a new tab">{filePath}</a>&nbsp;(<a id="fileDownloadLink" class="blueLink" href="/download/{projectId}/?filePath={filePath}" title="Click to download the file">Download</a>)
                </td>
                <td style="text-align: right;">
                    <a id="webAccessLink" style="margin-right: 16px;" class="blueLink" href="{weblink}" target="_blank">{repoRelativePath}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Project:&nbsp;<a id="projectExplorerLink" class="blueLink" href="/?leftProject={projectId}" onclick="if (event.button === 0) { LoadProjectExplorer('{projectId}'); return false; }">{projectId}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

