<div style="overflow:auto">
    <h1>About Codex</h1>

    <p>Codex allows incremental updates to parts of the index independently, richer search and navigation features, multiple front-ends (web, desktop WPF, etc) as well as full text search.</p>
</div>